body {
    margin: 0;
    overflow: hidden;
}

#game-container {
    width: 800px;
    height: 400px;
    background-image: url('background.jpg'); /* Add your background image */
    background-size: cover;
    position: relative;
    overflow: hidden;
}

#player {
    width: 100px;
    height: 50px;
    background-image: url('pokemon1.jpg'); /* Add your player character image */
    background-size: cover;
    position: absolute;
    bottom: 0;
    left: 50px; /* Adjust the starting position */
}

#obstacle {
    width: 50px;
    height: 50px;
    background-image: url('obstacle.jpeg'); /* Add your obstacle image */
    background-size: cover;
    position: absolute;
    bottom: 0;
    right: 50px; /* Adjust the starting position */
    
}

